@media only screen and (min-width: 1100px) {
  .studapp-blog {
    margin-top: 60px;
    height: 500px;
    width: 100%;
    background-color: 006A71;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right top, #6667ab, #3d86ca, #00a4da, #00c0dc, #00d9d2, #17e6c4, #4cf2af, #7cfb94, #92fe7c, #aaff61, #c6ff40, #e3ff00);
    display: flex;
  }
  .explore-page{
    display: none;
  }

  .explore-items{
    display: flow-root;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .side-explore {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    margin-left: 850px;
    padding-top: 100px;
  }
  
  .explore-card {
    width: 30%;
    margin: 20px;
    height: 30px;
    border-radius: 10px;
  }
  .explore-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .explore-card h1 {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    padding: 5px;
    margin-left: 10px;
  }
  
  .explore-card p {
    margin-top: -35px;
    font-size: 16px;
    opacity: 0.5;
    text-align: right;
    margin-right: 10px;
  }
  

  .slogan {
    display: block;
    font-size: 100px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 90px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
  }

  .abstract {
    display: block;
    font-size: 40px;
    width: 400px;
    text-align: left;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: -490px;
    font-weight: 400;
    margin-top: 200px;
    color: yrgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
  }
}

@media only screen and (max-width: 1099px) {
  .studapp-blog {
    margin-top: 60px;
    height: 300px;
    width: 100%;
    background-color: 006A71;
    background-image: linear-gradient(to right top, #6667ab, #3d86ca, #00a4da, #00c0dc, #00d9d2, #17e6c4, #4cf2af, #7cfb94, #92fe7c, #aaff61, #c6ff40, #e3ff00);
    display: flex;
  }

  .slogan {
    display: block;
    font-size: 50px;
    margin-block-start: 3em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
  }
  .abstract{
    display: none;
    color: #03494e;
  }
  

  .explore-page{
    text-align: center;
    margin-top: -50px;
    margin-left: 100px;
    margin-right: 100px;

    height: 100%;
  }
  .side-explore{
    display: none;
  }

  .explore-items{
    display: flow-root;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

