@media only screen and (min-width: 1100px) {
    .bottom-nav{
        display: none;
    }
    
}
.bottom-nav-item{
    margin-left: 12%;
}

.nav-icon{
    padding-left: 70px;
    padding-right: 70px;
}

