@media only screen and (min-width: 1100px) {
    .post-img {
        width: 300px;
        height: 100%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

    }

    .colorful-div{
        width: 1.5%;
        background-image: linear-gradient(to bottom, #495C83, #7A86B6, #A8A4CE, #C8B6E2);
     }

    .post-title {
        font-size: 28px;
        font-weight: 600;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
        padding-top: 10px;
        overflow: hidden;
        width: 500px;
        height: 75px;
    }

  .post{
    margin-left: 10%;
    margin-bottom: 200px;
    margin-top: 100px;
    margin-right: 10%;
    width: 70%;
    border-radius: 10px;
    border: solid rgb(211, 211, 211) 2px;
  }

  .post-body img {
    width: 50%;
    height: 50%;
   margin-left: 10%;
   margin-top: 100px;
   border-radius: 10px;
  }

  .post-info{
    width: 100%;
    height: 200px;
    margin-left: 10%;
  }

  .post-content {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    
  }

    .post-card {
        margin: auto;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .popular-list {
        display: flex;
        margin-top: -110px;
        margin-left: 100px;
    }

    .popular-card {
        width: 30%;
        margin: 10px;
    }


    .post-author {
        margin: auto;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding-left: 10px;
    }

    .post-time {
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        color: coral;
        padding-left: 10px;
    }

    .card-text {
        overflow: hidden;
        width: 500px;
        height: 100px;
    }

    .card-text p {

        font-weight: 300;
        text-align: left;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .card-body {
        padding-left: 10px;
        padding-top: 10px;
        margin: auto;
        width: 50%;
    }

    .post-list {
        margin-top: 100px;
        margin-left: 100px;
        width: 800px;
        height: 100%;
        display: flex;
        margin-right: 200px;
        flex-direction: column;
        align-items: center;
    }

    .edit-form {
        margin-left: 30%;
        margin-right: 30%;
        width: 70%;
        margin-top: -50px;
        margin-bottom: 100px;
        height: 100%;
        display: flex;
        border-radius: 10px;
        width: 600px;
        background-color: azure;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

}

@media only screen and (max-width: 1099px) {

    .post-img {
        width: 200px;
        height: 100%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }


    .post-title {
        width: 500px;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
        padding-top: 10px;
        overflow: hidden;
    }

    .post-card {
        margin: auto;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .colorful-div{
        width: 1.5%;
        background-image: linear-gradient(to bottom, #495C83, #7A86B6, #A8A4CE, #C8B6E2);
     }

    .post-author {
        margin: auto;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding-left: 10px;
    }

    .popular-list {
        display: none;
    }

    .post-time {
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        color: coral;
        padding-left: 10px;
    }

    .card-text {
        width: 500px;
        max-height: 100px;
        font-weight: 300;
        text-align: left;
        padding-bottom: 10px;
        padding-left: 10px;
        overflow: hidden;
    }

    .card-body {
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
        margin: auto;
    }

    .post-list {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

    }

    .popular-card {
        width: 100%;
        margin-top: 10px;
    }


  .post{
    margin-bottom: 200px;
    margin-top: 100px;
    width: 100%;
    border-radius: 10px;
    border: solid rgb(211, 211, 211) 2px;
      }

  .post-body img {
    width: 40%;
    height: 40%;
   margin-top: 100px;
   border-radius: 10px;
   margin-left: 30%;
  }

  .post-info{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
  }

  .post-content {
    margin-bottom: 100px;
    width: 90%;
    margin: 5%;
  }

  .edit-form {
    margin-left: 10%;
    margin-top: -50px;
    margin-bottom: 100px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    width: 600px;
    background-color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

}

.choice-editor-list {
    width: 70%;
    margin: 100px;
}

.choice-editor-title {
    font-size: 24px;
    font-weight: 600;
    border: gray solid 2px;
    border-radius: 10px;
    padding: 10px;
}


.popular-detail {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;

}

.popular-author {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;

}

.popular-time {
    font-size: 14px;
    font-weight: 400;
    margin-top: -15px;

    color: coral;
}

.popular-card {
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.popular-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.popular-title h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    max-height: 100px;
}



.edit-form input {
    margin: 20px;
    height: 50px;
    width: 100%;
    border: solid rgb(145, 145, 145) 3px;  
    border-radius: 10px;
    text-align: center;
    border: none;
}

#update-post-submit {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-left: 30%;
    color: azure;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: rgb(23, 160, 46);
}

.edit-form textarea {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    margin: 20px;
    text-align: center;
    border: none;
}

.usr-post-card {
    margin: auto;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    border: solid rgb(211, 211, 211) 2px;
}

.link {
    text-decoration: none;
    color: black;
  }
  .link:hover {
    text-decoration: none;
    color : #495C83;
  }

  .error{
    color: red;
    text-align: center;
 }
 .editbtn{
    margin-top: 20px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
 }

 .card-more{
    width: 70px;
 }
 .upload-img{
    margin-left: -90%;
    margin-top: 700px;
    width: 100%;
    margin-bottom: 20px;
 }




